#jumbo {
    background-image: url("../css/image/fish.jpg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

 body {
    background-color: rgb(180, 75, 75);
} 